

/* 整个头部 */
.headerWrapper {
    width: 100%; /* 占满宽度 */
    background-color: #242221;
}

/* 头部中心的内容 */
.content {
    display: flex;
    justify-content: space-between; /* flex布局两端对齐，项目之间的间隔都相等 */

    width: 1100px;
  margin: 0 auto; /* 外边距为0，auto表示左右自适应距离相等，即水平居中 */
  color: #fff;
}




/* 头部内容的左部分 */
.headerLeft {
    display: flex;
}

.logo {
    display: inline-block;
    width: 176px;
    height: 69px;
    background-position: 0 0; /* logo图片与容器的左上角对齐 */
    text-indent: -9999px; /* 隐藏文本 */
    background-image: url(../img/sprite_01.png);
}

.headerSelectItem{
  padding: 0 19px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  color: #ccc;
  font-size: 14px;
  position: relative; /* 父元素设为相对定位，子元素小箭头才能用绝对定位 */
}
.headerSelectItem:hover{
  text-decoration: none;
  background-color: #000;
  color: #fff;
}
.headerSelectItem:last-of-type{
  position: relative; /* 最后一个item设为相对定位，让后面的HOT图标能够设定为绝对定位 */
}

.headerSelectItem:last-of-type::after{
  /* 这个显示HOT图标的after伪元素的父元素是last-of-type */
  /* TODO */
}

.activeItem{
  color: #fff;
  background-color: #000;
}

.activeItem .bottomArrowhead {
  /* activeItem的子类，让只有选中的才会显示小箭头 */
  background-image: url(../img/sprite_01.png);
  background-position: 254px 0;
  width: 12px;
  height: 7px;
  /* 绝对定位将小箭头放在底部居中 */
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
}




/* 头部内容的右部分 */
.headerRight{
  display: flex;
  align-items: center;
  color: #ccc;
  font-size: 12px;
}

.searchWrapper{
  
}

.searchbox{
  width: 158px;
  height: 32px;
  border-radius: 16px;
}


.creatorCenter{
  width: 75px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #4F4F4F;
  border-radius: 16px;
  margin: 0 13px;
  background-color: transparent;
  color:#CCC;
}
.creatorCenter:hover{
  text-decoration: none;
  color: #fff;
  border-color: #ccc;
}


.redLine {
  height: 5px;
  background-color: #c20b0b;
}